<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css"
		/>
  </head>
  <body>
		{% md "index.md" %}
			This content will be replaced with the content from index.md
		{% error %}
			There was an error fetching index.md
		{% endmd %}
  </body>
</html>
